.wp-block-recent-posts
  .scroll-container{ 'data-item-width' => 250 }
    .grid-x.grid-margin-x.scroll-wrapper.small-up-3
      = render partial: 'integral/posts/card', collection: Integral::PostDecorator.decorate_collection(collection), as: :post, cached: true
