%canvas{ data: { controller: 'chart', 'chart-type' => 'line', 'chart-labels' => labels }}
  - dataset.each_with_index do |item, index|
    %ul{ data: { 'chart-label' => item[:label] }}
      - data[index].each do |item|
        %li{ data: { value: item }}
