#gallery-placeholder.modal--gallery.modal(tabindex="-1")
  .modal-dialog.modal-fullscreen
    .modal-content
      %button(type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        .placeholder
          .spinner-border.text-primary(role="status")
            <span class="visually-hidden">Loading...</span>
          -# %p Loading..
