- if type == 'Integral::Link'
  -# Assumes url is a YouTube embed URL i.e -> https://www.youtube.com/embed/mNzvpFcJXU
  %iframe{ src: "#{url}?enablejsapi=1", frameborder: '0',  allow: 'autoplay; encrypted-media', allowfullscreen: true }
- else
  = image_tag image
