.p-2.admin-bar{ data: { 'turbo' => 'false' }}
  .container
    .d-flex.justify-content-between
      .user-name= current_user.name
      = content_for :edit_resource_link
      = link_to t('integral.navigation.dashboard', locale: current_user.locale), integral.backend_dashboard_url, data: { 'turbo' => 'false' }

