%html
  = render 'layouts/integral/backend/head'
  %body{ data: { turbo: 'false', flash_type: flash.first&.first, flash_message: flash.first&.second }}
    .toast-wrapper(aria-live="polite" aria-atomic="true")
      #toast-container.toast-container.p-3
    .form-signin
      .form-signin-container
        = yield
