.bundle/
log/*.log
spec/dummy/log/*.log
spec/dummy/db/*.sqlite3
spec/dummy/public/uploads/*
spec/dummy/tmp/*
spec/examples.txt
spec/dummy/public/assets/*
spec/dummy/public/packs/*
node_modules/
spec/lib/integral/generators/tmp/*
pkg/
coverage/
.yardoc/
*.swo
website/build/*
tmp/*
public/packs/*
public/packs-test/*

