.inline-articles{ 'data-most-read-posts' => true}
  %h3= t('integral.blog.widgets.most_read')
  .row
    - most_read_posts.each do |post|
      .col-md-3.col-6
        = link_to integral.post_url(post.slug) do
          = image_tag post.image_url, alt: post.title
          %h4.inline-articles-title= post.title
