-# Cache me
- if @related_posts.present?
  %h2.blog-subheading= t('integral.blog.widgets.related_posts')
  .row.scroll-container
    = render partial: 'integral/posts/card', collection: Integral::PostDecorator.decorate_collection(@related_posts), as: :post, cache: true
