- if display_newsletter_signup_widget?
  = render partial: 'integral/shared/newsletter_signup'

- if display_recent_posts_widget?
  = render partial: 'integral/shared/recent_posts'

- if display_popular_posts_widget?
  = render partial: 'integral/shared/popular_posts'
= render partial: 'integral/shared/popular_tags'
