.article-footer {
  padding-top: 45px;
  margin: 25px 0 45px;
  border-top: 1px solid $medium-gray;
  color: $black;
  font-size: 14px;

  @include breakpoint(medium) {
    padding-top: 60px;
  }

  > header, section {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid $medium-gray;
    border-top: 1px solid $medium-gray;
  }

  > header {
    line-height: 40px;
  }

  &-actions {
    @include breakpoint(medium) {
      text-align: right;
    }

    > .button {
      vertical-align: top;
      height: 40px;
      width: 49%;
      margin: 10px 0;
      border: 0;
      @include breakpoint(medium) {
        margin: 0;
      }
    }
  }

  &-buttons {
    max-width: 550px;
    margin: 20px auto 0 !important;
  }

  &-image {
    img {
      height: 50px;
      width: 100%;
      object-fit: cover;
      @include breakpoint(medium) {
        height: 100px;
      }
    }
  }
}
