.article {
  > header {
    border-bottom: 1px solid #e2e1e1;
    margin-bottom: 15px;

    button {
      margin-bottom: 0;
    }

    > h1 {
      border: 0;
      font-size: 24px;
      color: #3B3B3B;
      padding: 0;

      @include breakpoint(medium) {
        font-size: 28px;
      }
    }
  }

  &-author {
    margin-bottom: 5px;
    font-size: 14px;
    color: $dark-gray;

    img {
      width: 18px;
      height: 18px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}
