.list-widget {
  margin-bottom: 45px;
  border: 1px solid #e2e1e1;

  &-image {
    position: relative;
    height: 185px;

    > a {
      display: block;
      height: 100%;
      width: 100%;

      > img {
        height: 185px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 8px;
    background: $primary-color;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
  }

  > ul {
    margin: 0;
    padding: 15px;

    > li {
      > a {
        display: block;
        @include text-truncate();
        color: #3B3B3B;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
