.sidebar-widget {
  margin-bottom: 45px;
  font-size: 16px;
  color: $black;

  &-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
  }

  &-wrapper {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(213, 213, 213, 0.5);
  }

  &-body {
    @include breakpoint(medium only) {
      max-width: 400px;
      margin: 0 auto;
    }

    > footer {
      text-align: center;
      font-size: 12px;
    }

    > p {
      text-align: center;
      margin-bottom: 25px;
    }
  }

  &-link {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: $medium-gray;
    text-align: center;

    &:hover {
      color: $primary-color;
    }
  }
}
