.wp-block-integral-cover-button {
  @include button($style: none);
  @include button-fill(hollow);

  color: $white;
  border-color: $white;
  margin-bottom: 0;
  transition: 250ms;

  // box-sizing: inherit;
  // resize: none !important;
  width: auto;

  &:hover {
    color: $secondary-color;
    border-color: $secondary-color;
  }
}

