.wp-block-table {
  margin-bottom: 1rem;
  table {
    margin-bottom: 5px;
  }
  &.is-style-unstriped {
    table {
      tbody {
        @include -zf-table-unstripe();
      }
    }
  }
  figcaption {
    font-size: 0.9rem;
    text-align: center;
  }
}
