.gallery-manager {
  &--add-button {
    text-transform: uppercase;
    color: $primary-color;
    font-size: .75rem;
  }

  &--item-wrapper {
    margin-bottom: .5rem;
  }

  &--item-container {
    background-color: #d4dfef;
    height: 6em;
    cursor: grab;
    position: relative;
    // &.video
    //   position: relative
    //   &:before
    //     @include font-awesome('\f03d')
    //     position: absolute
    //     right: .2rem
    //     top: .2rem
    //     font-size: 1rem
    //     color: $white
    //     text-shadow: 0px 0px 2px rgba(150, 150, 150, 1)
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    a {
      background-color: $primary-color;
      color: $white;
      border-radius: 50%;
      position: absolute;
      right: -4px;
      top: -4px;
      padding: 2px;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
      i {
        height: 1.25rem;
        width: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
      }
    }
  }
  .sortable-placeholder {
    width: 42%;
    height: 6em;
    border: 1px dashed #CCC;
    background-color: #f7f7f7;
    margin: 0 .5rem;
    margin-bottom: .5rem;
  }
}
