.alternate-resource {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(212, 223, 239, 0.2);
  &--info {
    flex-grow: 1;
  }
  &--title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  &--description {
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
    color: #2d4a67;
  }

  &--path {
    display: block;
    font-family: monospace;
    letter-spacing: 1px;
  }

  &--button {
    margin-bottom: 0;
    padding: 1rem;
    color: $black !important;
    &:hover {
      color: $primary-color !important;
    }
  }
}
