/* Date Picker 
 This has been ported from MaterializeCSS
 */

$datepicker-weekday-bg: darken($primary-color, 7%) !default;
$datepicker-date-bg: $primary-color !default;
$datepicker-year: rgba(255, 255, 255, .4) !default;
$datepicker-focus: rgba(0,0,0, .05) !default;
$datepicker-selected: $primary-color !default;
$datepicker-selected-outfocus: desaturate(lighten($primary-color, 35%), 15%) !default;

@import "integral/support/date_picker/_default";
@import "integral/support/date_picker/_default.time";
@import "integral/support/date_picker/_default.date";
@import "integral/support/date_picker/materialize_clockpicker";

