@import "font-awesome-sprockets";
@import "font-awesome";

@import 'integral/backend/foundation_and_overrides';
@import "integral/support/media-query-indicator";
@import "integral/backend/mixins";
@import "integral/backend/materialize-tags";
@import "integral/backend/modules/timeline";
@import "integral/backend/modules/alternate-resource";
@import "integral/backend/modules/dropdown_pane_notifications";
@import "integral/backend/modules/dropdown_pane_profile";
@import "integral/backend/modules/gallery-manager";
@import "integral/backend/modules/table-resources";
@import 'integral/backend/shared';
@import 'integral/backend/notifications';
@import 'integral/backend/dashboard-layout';
@import 'integral/backend/devise';
@import 'integral/backend/overrides';

.diff {
  ul {
    margin-left: 0;
    list-style: none;
    background-color: rgba(212, 223, 239, 0.15);
    li {
      min-height: 1.5rem;
      &.del {
        background-color: transparentize($alert-color, 0.7);
      }
      &.ins {
        background-color: transparentize($success-color, 0.7);
      }
    }
  }
}

hr {
  border: solid 0.5px #f4f7fb;
  &.dark {
    border-color: #d4dfef;
    margin: 0.5em 0;
  }
}

.data-unavailable {
  margin: 0 auto;
  display: flex;
  align-items: center;
  //color: #17212b;
  span {
    margin-right: 2rem;
  }
}

.card {
  font-size: 0.9em;
  .description {
    margin: 1em 0;
    color: scale-color($body-font-color, $lightness: 20%);
  }
  .subtitle {
    margin: -0.5em 0 -0.25em 0;
    color: scale-color($body-font-color, $lightness: 20%);
  }
  > .actions {
    a {
      display: block;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }
  i {
    width: 1.5rem;
    text-align: center;
  }
}

.card-unpadded.object {
  .card-section {
    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }
  }
  .info-item {
    border-top: solid 0.5px #d4dfef;
    font-size: 0.8em;
    padding: 0.5em 0;
    display: flex;
    .attr {
      color: scale-color($body-font-color, $lightness: 10%);
      flex-grow: 1;
      margin-right: 1rem;
    }

    .val {
      &.thumb img {
        max-width: 1rem;
        max-height: 1rem;
      }
    }
  }

  .button {
    border-radius: 0px 0px 5px;
    font-size: 1em;
  }
}

.block_editor.input {
  position: relative;
  .block-editor {
    min-height: 500px;
  }
}

.block_editor.block-editor__fullscreen {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0;
  z-index: 99;
  margin: 0;
  .block-editor {
    height: 100%;
  }
}

.block-editor-size-toggle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.flex-auto {
  flex: auto;
}

.uppy-StatusBar-progress {
  background-color: $primary-color !important;
}

.uppy-StatusBar.is-complete .uppy-StatusBar-progress {
  background-color: #1bb240 !important;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  background-color: $primary-color !important;
}

.uppy-DashboardContent-bar {
  z-index: 10 !important;
}

.uppy-Dashboard-Item-previewIcon {
  z-index: 1 !important;
}

.uppy-Dashboard--modal {
  z-index: 1005 !important;
}
