// @import 'font-awesome-sprockets';
// @import 'font-awesome';
// @import "toastr";
//
// @import 'integral/frontend/foundation_and_overrides';
//
// $nprogress-color: $primary-color;
// $nprogress-height: 5px;
//
// @import 'nprogress';
// @import 'nprogress-turbolinks5';
//
// @import 'integral/support/mixins';
// @import 'integral/support/scroll-to-top';
// @import 'integral/support/media-query-indicator';
// @import 'integral/support/gallery';
// @import "integral/support/swiper";
//
// // Glob import only works without the /integral however if this file is copied to the host application then it fails
// // It should also work within host application
// // https://github.com/rails/sass-rails/issues/166#event-2225118948
// // @import "frontend/modules/*"; - Works in engine but not host application
// // @import "integralfrontend/modules/*"; - Doesn't work in either
//
// @import "integral/frontend/modules/article-footer";
// @import "integral/frontend/modules/article";
// @import "integral/frontend/modules/horizontal-post";
// @import "integral/frontend/modules/inline-articles";
// @import "integral/frontend/modules/latest-post";
// @import "integral/frontend/modules/list-widget";
// @import "integral/frontend/modules/piped-list";
// @import "integral/frontend/modules/sidebar-articles";
// @import "integral/frontend/modules/sidebar-tags";
// @import "integral/frontend/modules/sidebar-widget";
// @import "integral/frontend/modules/vertical-post";
// @import "integral/frontend/modules/post-tags";
// @import "integral/frontend/modules/scroll-container";
//
// @import 'integral/frontend/share_modal';
// @import 'integral/frontend/layout';
// @import 'integral/frontend/shared';
// @import 'integral/frontend/blog';
//
// @import 'integral/frontend/overrides';
//
// html {
//   scroll-padding-top: 70px;
// }
