- if @breadcrumbs.present? || content_for?(:actionbar) || render_default_action_bar?
  .d-flex.justify-content-between
    - if @breadcrumbs.present?
      .top-bar-left
        = render_breadcrumbs builder: BreadcrumbBuilder
    - if content_for?(:actionbar) || render_default_action_bar?
      .top-bar-right
        - if content_for?(:actionbar)
          = content_for(:actionbar)
        - else
          = render partial: "integral/backend/shared/action_bar/#{action_name}"
