#modal-confirm.modal(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Confirmation
        %button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        %p
      .modal-footer
        %button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cancel
        %button(type="button" class="btn btn-primary") Confirm
