.block-editor__header {
	align-items: center;
	background: $white;
	border-bottom: 1px solid $light-gray-500;
	display: flex;
	height: $header-height;
	justify-content: space-between;
	left: 0;
	// Stick the toolbar to the top, because the admin bar is not fixed on mobile.
	position: sticky;
	right: 0;
	top: 0;
	// z-index: z-index(".getdavesbe-header");
}

@include editor-left(".getdavesbe-header");
