.alternate-resource
  %input{ type: :hidden, name: 'page[alternate_ids][]', value: alternate.id }
  .alternate-resource--info
    %h4.alternate-resource--title= alternate.title
    %p.alternate-resource--description= alternate.description.truncate(100)
    %small.alternate-resource--path= alternate.path
  .alternate-resource--actions
    %button.clear.button.alternate-resource--button{ type: :button, data: { action: 'alternate-resource#remove' } }= icon('trash')
