.grid-x.grid-padding-x
  -# Left Column
  .cell.large-6
    .grid-x.grid-padding-x
      .cell= render_card(:recent_pages)
      .cell= render_card(:at_a_glance, { dataset: dataset_at_a_glance_pages })

  -# Right Column
  .cell.large-6
    .grid-x.grid-padding-x
      .cell= render_card(:recent_activity)
      .cell.large-6= render_card(:recent_user_activity)
