@import 'select2/src/scss/core.scss';

.select2 {
  &-selection {
    border-radius: 0 !important;
    border-color: #d4dfef !important;
    height: 2rem !important;
  }

  &-results__option {
    font-size: 0.9rem !important;
  }

  &-selection__rendered {
    flex: 1 !important;
    display: flex !important;
    overflow: auto !important;
  }

  &-selection__choice {
    margin-top: 3px !important;
  }

  &-selection--single span {
    color: #0a0a0a !important;
    font-size: 14px;
  }
  &-search--inline .select2-search__field {
    height: 1rem;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 0.9rem !important;
  }

  &-search--dropdown .select2-search__field {
    border: solid 0.5px #d4dfef;
  }
}
