- image_url ||= renderer.image_url
.row.list-item
  .col-3.image
    = link_to url do
      = image_tag image_url, alt: title
  .col-9.data
    = link_to title, url
    %ul.list-unstyled.piped-list
      %li= subtitle
