= render layout: 'section', locals: { f: f, icon: 'search', name: 'seo' } do
  .grid-x.grid-padding-x
    .cell.medium-6
      = render 'input', f: f, name: 'google_tag_manager_id'
    .cell.medium-6
      = render 'input', f: f, name: 'facebook_app_id'
    .cell.medium-6
      = render 'input', f: f, name: 'twitter_handler'
