.card.flex-auto
  %h2 Alternates
  - if @resource.alternates.published.any?
    = render partial: "alternate", collection: @resource.alternates.published
  - else
    %p.data-unavailable
      %span= t('integral.backend.graphs.data_unavailable')
      = image_tag image_path('integral/backend/data-unavailable.png')
