:ruby
  if list_item[:image].respond_to?(:attached?)
    thumbnail_url = main_app.url_for(list_item[:image].representation(resize_to_limit: [100, 100]))
    list_item[:image] = main_app.url_for(list_item[:image].representation(resize_to_limit: [1200, 1200]))
  else
    thumbnail_url = list_item[:image]
  end

.col-md-2
  .resource-selector-item{ data: list_item.merge!({action: 'click->resource-selector#preselect' }) }
    %img{ src: thumbnail_url }
