.block-editor-block-list__block[data-type="integral/cover"] > div {
  .components-button {
    z-index: 1;
    position: inherit;
  }
  .block-editor-image-placeholder {
    position: absolute;
    left: 25%;
  }
}
