.block-editor-block-list__block[data-type="integral/recent-posts"] > div {
  margin: 1rem 0;
  padding: 3rem;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;

  > p {
    font-size: 1.25rem;
    margin-right: 4rem;
    margin: 0 4rem 0 0;
  }

  .post-outline {
    background-color: $white;
    width: 200px;
    box-shadow: 3px 6px 7px 0px rgb(243, 243, 243);
    margin-left: 1rem;
    padding: 1rem;
    .post-outline--image {
      width: 70px;
      height: 50px;
      background-color: $primary-color;
      margin-right: .5rem;
      margin-bottom: .5rem;
    }
    .post-outline--header {
      display: flex;
    }
    .post-outline--title, .post-outline--description-line-1, .post-outline--description-line-2, .post-outline--description-line-3 {
      width: 100%;
      height: .75rem;
      background-color: $medium-gray;
    }

    .post-outline--description-line-1, .post-outline--description-line-2 {
      width: 100%;
      margin-bottom: .5rem;
    }

    .post-outline--description-line-3 {
      width: 65%;
    }
  }
}

