.horizontal-post {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e1e1;

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    @include media-breakpoint-down(sm) {
      height: 60px;
    }
  }

  &-description {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &-body {
    @include media-breakpoint-down(sm) {
      position: relative;
      padding-bottom: 30px;

      > ul {
        position: absolute;
        bottom: 0;
      }
    }


    > h3 > a {
      font-size: 20px;
      color: $black;
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }

      &:hover {
        color: $primary;
      }
    }

    > p {
      color: rgba(59,59,59,0.85);
      font-size: 14px;
    }
  }
}
