.newsletter-signup {
  padding: 1rem;
  text-align: center;
  background-color: #000022;
  color: $white;
  i {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem 0;
  }
  h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 1.5rem 0;
    line-height: 1.5;
  }
  p{
    font-size: .9rem;
    margin-bottom: 1.5rem;
  }
  form {
    padding: .5rem;
    background-color: $white;
    border-radius: 0;
    input[type=email] {
      border: none;
      background-color: $white;
      box-shadow: none;
      width: 100%;
      font-size: 0.9em;
      margin-bottom: .5rem;
      &::placeholder{
        color: $gray-400;
      }
    }
    input[type=submit] {
      width: 100%;
      margin: 0;
      text-transform: uppercase;
      border-radius: 0;
    }
    .input-field.has-error input {
      margin-bottom: 0;
    }
    .error-block {
      color: $danger;
      padding: .25rem 0;
    }
  }
}
