.post-card {
  box-shadow: none;
  &:hover {
    box-shadow: $box-shadow;
  }
  > a {
    .card-section {
      padding: 20px;
      color: $black;
      font-size: 14px;

      > h3 {
        margin-bottom: 15px;
        font-size: 16px;
      }

      > p {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }
  }

  &-image {
    object-fit: cover;
    height: 185px;
    width: 100%;
  }
}
