.grid-x
  -# Left Column
  .cell.large-6
    .grid-x
      .cell= render_card(:recent_resources)
      .cell.xlarge-6= render_card(:recent_user_activity)
      .cell= render_card(:at_a_glance)

  -# Right Column
  .cell.large-6
    .grid-x
      .cell= render_card(:recent_activity)
