.grid-x
  -# Left Column
  .cell.large-6
    .grid-x
      .cell= render_card(:recent_users)
      .cell.large-6= render_card(:recent_user_activity)
      -# .cell= render_card(:at_a_glance, { dataset: dataset_at_a_glance_posts })

  -# Right Column
  .cell.large-6
    .grid-x
      .cell= render_card(:recent_activity)
