= simple_form_for [:backend, @resource], validate: true, html: { id: 'resource_form', class: 'are-you-sure', 'data-confirm-dirty-form' => true } do |f|
  .grid-x
    .cell.medium-8.large-9
      -# Left Column
      .grid-y
        = f.input :name
        = BlockEditor::Instance.render(f)
    .cell= f.button :button
