= render layout: 'integral/shared/blog_layout', locals: { title: t('.title') } do
  %ul.post-tags.text-center
    - @tags.each do |tag|
      %li
        = link_to tag_url(tag.name) do
          = tag.name
