= render layout: 'integral/shared/blog/layout', locals: { title: t('.title') } do
  %ul.post-tags.center
    - @tags.each do |tag|
      %li.post-tags__item
        = link_to tag_url(tag.name), class: 'badge' do
          = tag.name

