= render layout: 'integral/shared/blog/layout', locals: { title: @meta_data[:page_title] } do
  = render partial: @tagged_posts, cached: true
  .d-flex.justify-content-center= will_paginate @tagged_posts, renderer: Integral::BootstrapPaginationRenderer
