.btn:not(.btn-link, .btn-outline-primary) {
  color: $white;
  text-transform: uppercase;
}

.btn-light {
  color: $primary;
  background-color: $white;
}

.btn-link {
  padding: 0;
  &:focus {
    box-shadow: none;
  }
}
