// .dropdown-menu {
//   a {
//     padding: .25rem 1rem;
//     width: 100%;
//     display: block;
//     i {
//       width: 1.25rem;
//       display: inline-block;
//       margin-right: .25rem;
//       text-align: center;
//     }
//   }
// }
