.list-group-summary {
  flex-direction: row;
  flex-wrap: wrap;
  .list-group-item {
    width: 50%;
    a, button {
      display: block;
      padding: $spacer/2 0;
      width: 100%;
      text-align: left;
    }
  }
}

