.stat-table {
  &-heading {
    display: flex;
    border-bottom: 2px solid rgba(158, 158, 158, 0.15);
    padding-bottom: 8px;
    margin-top: -15px;
    align-items: flex-end;
    justify-content: space-between;
  }

  &-header-count {
    font-size: 1.75rem;
    color: $primary;
  }
  &-header {
    font-size: .8rem;
  }
}
