<!-- wp:heading {"level":2} -->
<h2>Heading Example (2)</h2>
<!-- /wp:heading -->

<!-- wp:heading {"level":3} -->
<h3>Heading Example (3)</h3>
<!-- /wp:heading -->

<!-- wp:heading {"level":4} -->
<h4>Heading Example (4)</h4>
<!-- /wp:heading -->

<!-- wp:heading {"level":5} -->
<h5>Heading Example (5)</h5>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul>
  <li>Unordered item 1</li>
  <li>Unordered item 2</li>
  <li>Unordered item 3</li>
  <li>Unordered item 4</li>
  <li>Unordered item 5</li>
</ul>
<!-- /wp:list -->

<!-- wp:list {"ordered":true} -->
<ol>
  <li>Ordered item 1</li>
  <li>Ordered item 2</li>
  <li>Ordered item 3</li>
  <li>Ordered item 4</li>
  <li>Ordered item 5</li>
</ol>
<!-- /wp:list -->

<!-- wp:buttons -->
<div class="wp-block-buttons">
  <!-- wp:button -->
  <div class="wp-block-button"><a href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample" class="wp-block-button__link">Default</a></div>
  <!-- /wp:button -->
</div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-primary"} -->
  <div class="wp-block-button is-style-primary"><a class="wp-block-button__link" href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample">Primary</a></div>
  <!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-secondary"} -->
  <div class="wp-block-button is-style-secondary"><a class="wp-block-button__link" href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample">Secondary</a></div>
  <!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-outline-primary"} -->
  <div class="wp-block-button is-style-outline-primary"><a class="wp-block-button__link" href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample">Primary (Outlined)</a></div>
  <!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-outline-secondary"} -->
  <div class="wp-block-button is-style-outline-secondary"><a class="wp-block-button__link" href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample">Secondary (Outlined)</a></div>
  <!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:be/alert -->
<div role="alert" class="wp-block-be-alert alert"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Default</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-primary"} -->
<div role="alert" class="wp-block-be-alert alert is-style-primary"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Primary</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-secondary"} -->
<div role="alert" class="wp-block-be-alert alert is-style-secondary"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Secondary</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-success"} -->
<div role="alert" class="wp-block-be-alert alert is-style-success"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Success</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-danger"} -->
<div role="alert" class="wp-block-be-alert alert is-style-danger"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Danger</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-warning"} -->
<div role="alert" class="wp-block-be-alert alert is-style-warning"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Warning</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-info"} -->
<div role="alert" class="wp-block-be-alert alert is-style-info"><!-- wp:paragraph -->
<p>Callout (Alert) Example - Info</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-light"} -->
<div role="alert" class="wp-block-be-alert alert is-style-light"><!-- wp:paragraph -->
<p>Callout (Alert) Example - light</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:be/alert {"className":"is-style-dark"} -->
<div role="alert" class="wp-block-be-alert alert is-style-dark"><!-- wp:paragraph -->
<p>Callout (Alert) Example - dark</p>
<!-- /wp:paragraph --></div>
<!-- /wp:be/alert -->

<!-- wp:separator -->
<hr class="wp-block-separator"/>
<!-- /wp:separator -->

<!-- wp:separator {"className":"is-style-dots"} -->
<hr class="wp-block-separator is-style-dots"/>
<!-- /wp:separator -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:be/card -->
<div class="wp-block-be-card card"><div class="card-body"><h3 class="card-title">Card Title Only</h3><div class="card-content"></div></div></div>
<!-- /wp:be/card --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:be/card -->
<div class="wp-block-be-card card"><div class="card-body"><h3 class="card-title">Card Title &amp; Text</h3><div class="card-content"><p>sdfdsfs sdfsfsdfds sdfdsv sdfdsfdsfds sdfdsfsdf sdfdsfsdfsd sfdsfsdf sdfdsv sfds sdfds </p></div></div></div>
<!-- /wp:be/card --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:be/card -->
<div class="wp-block-be-card card"><div class="card-body"><h3 class="card-title">Card Title, text &amp; image</h3><div class="card-content"><p>sdfsf sdfs sfdsd sfds sfdds sdfsdfs sdf</p></div></div></div>
<!-- /wp:be/card --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:be/card {"url":"https://google.com"} -->
<div class="wp-block-be-card card"><a href="https://google.com" target="_self"></a><div class="card-body"><h3 class="card-title"><a href="https://google.com" target="_self">Linked Card</a></h3><div class="card-content"></div></div></div>
<!-- /wp:be/card --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:be/card {"hasCallToAction":true,"callToAction":"Call to action","url":"https://google.com"} -->
<div class="wp-block-be-card card"><a href="https://google.com" target="_self"></a><div class="card-body"><h3 class="card-title"><a href="https://google.com" target="_self">Linked Card with CTA</a></h3><div class="card-content"></div></div><a class="card-link" href="https://google.com" target="_self">Call to action</a></div>
<!-- /wp:be/card --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:be/card {"hasCallToAction":true,"callToAction":"Call to Action","url":"https://ggoogle.com","openInNewTab":true} -->
<div class="wp-block-be-card card"><a href="https://ggoogle.com" target="_blank"></a><div class="card-body"><h3 class="card-title"><a href="https://ggoogle.com" target="_blank">Linked Card with CTA New Tab</a></h3><div class="card-content"></div></div><a class="card-link" href="https://ggoogle.com" target="_blank">Call to Action</a></div>
<!-- /wp:be/card --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:image {"id":8241,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/integral-presentation.png', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
<!-- /wp:image -->

<!-- wp:be/contact-form /-->

<!-- wp:be/cover {"className":"is-style-primary"} -->
<div class="wp-block-be-cover is-style-primary"><div class="wp-block-be-cover-content"><!-- wp:heading -->
<h2>Example Primary Cover</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Break up content and draw attention to something using a cover block</p>
<!-- /wp:paragraph -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link">Hello cover</a></div>
<!-- /wp:button -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:be/cover -->

<!-- wp:be/cover {"className":"is-style-secondary"} -->
<div class="wp-block-be-cover is-style-secondary"><div class="wp-block-be-cover-content"><!-- wp:heading -->
<h2>Example Secondary Cover</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Break up content and draw attention to something using a cover block</p>
<!-- /wp:paragraph -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link">Hello cover</a></div>
<!-- /wp:button --></div></div>
<!-- /wp:be/cover -->

<!-- wp:be/cover {"imageUrl":"<%= image_url('integral/demo/integral-presentation.png', skip_pipeline: true) %>"} -->
<div class="wp-block-be-cover"><img class="wp-block-be-cover-image" src="<%= image_url('integral/demo/integral-presentation.png', skip_pipeline: true) %>"/><div class="wp-block-be-cover-content"><!-- wp:heading -->
<h2>Example Image Cover</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Break up content and draw attention to something using a cover block</p>
<!-- /wp:paragraph -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link">Hello cover</a></div>
<!-- /wp:button --></div></div>
<!-- /wp:be/cover -->
