@import 'integral/frontend/blocks/button';
@import 'integral/frontend/blocks/callout';
@import 'integral/frontend/blocks/column';
@import 'integral/frontend/blocks/columns';
@import 'integral/frontend/blocks/contact-form';
@import 'integral/frontend/blocks/foundation-accordion';
@import 'integral/frontend/blocks/foundation-card';
@import 'integral/frontend/blocks/image';
@import 'integral/frontend/blocks/list';
@import 'integral/frontend/blocks/review';
@import 'integral/frontend/blocks/separator';
@import 'integral/frontend/blocks/table';

.aligncenter {
  text-align: center;
}
.wp-block[data-align='center'] {
  text-align: center;
}

.pointer-events-all {
  pointer-events: all !important;
}
