!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag 'errors', media: 'all'
    %title
      = content_for?(:title) ? yield(:title) : "Server Error"
  %body
    .row.container
      %p
        = yield
      = link_to 'Take me home', '/'
